@model IEnumerable<SocialManager.Models.FacebookFriendViewModel>


        <table class="table table-hover table-striped table-condensed">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="text-center">
                                <a href="http://www.facebook.com/@item.TaggingId" target="_blank">
                                    <img class="img-thumbnail" src="@item.ImageURL" /><br />
                                    <span class="text-primary">@Html.DisplayFor(modelItem => item.Name)</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
@if (ViewBag.ShowGetMoreData != null)
{
    <input id="FB_Next_PageLink" type="hidden" value="@ViewBag.ShowGetMoreData" />
}
<input id="FB_CurrentDataCount" type="hidden" value="@Model.Count()" />
